/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Post 7 uagb rm title wrap **/
#post-7 .uagb-rm__title-wrap {
	
}

/** Geral >> Titulo & Descrição - Cardápio home **/
#post-7 .cardapio-home .uagb-rm__title-wrap {
	width: 270px !important;
}

/** Geral >> Preço Cardápio Home **/
#post-7 .cardapio-home .uagb-rm__price {
	width: 80px !important;
}


/*= Rodapé =================== */

/** Rodapé >> Barra de Rodapé **/
#colophon .ast-builder-grid-row-tablet-full {
	min-height: 0 !important;
	padding-top: 15px !important;
	padding-bottom: 12px !important;
	border-top-color: rgba(255, 255, 255, 0.35) !important;
	border-top-width: 1px !important;
}

