/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Titulo & Descrição - Cardápio home **/
#post-7 .cardapio-home .uagb-rm__title-wrap {
	width: 270px !important;
}

/** Geral >> Preço Cardápio Home **/
#post-7 .cardapio-home .uagb-rm__price {
	width: 80px !important;
}


/*= Conteúdo ================= */

/** Conteúdo >> Preco - Cardápio **/
.preco-cardapio .uagb-rm__price {
	font-size: 25px !important;
	line-height: 25px !important;
	width: 86px !important;
	margin-right: 10px !important;
}

/** Conteúdo >> Ícone Barra Preto - Cardápio **/
.uagb-block-a96557dc .uagb-ifb-img-src {
	margin-top: -20px !important;
}

/** Conteúdo >> Bloco de Itens - Cardápio **/
#post-20 .uagb-block-c0b6624b {
	margin-top: -8px !important;
}


/*= Rodapé =================== */

/** Rodapé >> Barra de Rodapé **/
#colophon .ast-builder-grid-row-tablet-full {
	min-height: 0 !important;
	padding-top: 15px !important;
	padding-bottom: 12px !important;
	border-top-color: rgba(255, 255, 255, 0.35) !important;
	border-top-width: 1px !important;
}


/*= Galeria =================== */

/** Galeria >> Link Hover Zoom - Galeria Post **/
.blocks-gallery-item > figure>:hover {
	transform: scale(1.03, 1.03) !important;
	-ms-transform: scale(1.03) !important;
	-webkit-transform: scale(1.03) !important;
}


/*( Desktop grande )*/
@media (min-width: 1200px) {

	/*= Conteúdo ================= */

	/** Conteúdo >> Título & Cardápio - Cardápio **/
	.preco-cardapio.uagb-block-e2c7c56f .uagb-rm__title-wrap {
	
}


	/*= Carousel ================== */

	/** Carousel >> Titulo Principal_Destaques - Home **/
	.uagb-block-8818645a .uagb-ifb-content {
	margin-top: -170px !important;
}


}


/*( Desktop e tablet )*/
@media (min-width: 768px) and (max-width: 979px) {

	/*= Conteúdo ================= */

	/** Conteúdo >> Título & Cardápio - Cardápio **/
	.preco-cardapio.uagb-block-e2c7c56f .uagb-rm__title-wrap {
	
}


}


/*( Tablet & celular )*/
@media (max-width: 767px) {

	/*= Carousel ================== */

	/** Carousel >> Titulo Principal_Destaques - Home **/
	.uagb-block-8818645a .uagb-ifb-content {
	margin-top: -180px !important;
}


}


/*( Celular )*/
@media (max-width: 480px) {

	/*= Geral ===================== */

	/** Geral >> Titulo & Descrição - Cardápio home **/
	#post-7 .cardapio-home .uagb-rm__title-wrap {
	width: 200px !important;
}


	/*= Carousel ================== */

	/** Carousel >> Carousel Slider - Quem somos **/
	#id-622 {
	max-width: 88% !important;
	margin-left: 23px !important;
}

	/** Carousel >> Carousel Slider (Altura da Section) - Quem Somos **/
	#id-622 > .owl-stage-outer {
	max-height: 160px !important;
}


}

