/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Post 7 uagb rm title wrap **/
#post-7 .uagb-rm__title-wrap {
	
}

/** Geral >> Titulo & Descrição - Cardápio home **/
#post-7 .cardapio-home .uagb-rm__title-wrap {
	width: 270px !important;
}

/** Geral >> Preço Cardápio Home **/
#post-7 .cardapio-home .uagb-rm__price {
	width: 80px !important;
}


/*= Conteúdo ================= */

/** Conteúdo >> Preco cardapio uagb rm price **/
.preco-cardapio .uagb-rm__price {
	font-size: 25px !important;
	line-height: 25px !important;
	width: 86px !important;
	margin-right: 10px !important;
}

/** Conteúdo >> Título & Descrição - Cardápio **/
.preco-cardapio .uagb-rm__desc {
	width: 460px !important;
	min-width: 0 !important;
}

/** Conteúdo >> Ícone Barra Preto - Cardápio **/
.uagb-block-a96557dc .uagb-ifb-img-src {
	margin-top: -20px !important;
}

/** Conteúdo >> Bloco de Itens - Cardápio **/
#post-20 .uagb-block-c0b6624b {
	margin-top: -8px !important;
}


/*= Rodapé =================== */

/** Rodapé >> Barra de Rodapé **/
#colophon .ast-builder-grid-row-tablet-full {
	min-height: 0 !important;
	padding-top: 15px !important;
	padding-bottom: 12px !important;
	border-top-color: rgba(255, 255, 255, 0.35) !important;
	border-top-width: 1px !important;
}


/*= Galeria =================== */

/** Galeria >> Link Hover Zoom - Galeria Post **/
.blocks-gallery-item > figure>:hover {
	transform: scale(1.03, 1.03) !important;
	-ms-transform: scale(1.03) !important;
	-webkit-transform: scale(1.03) !important;
}


/*= Carrousel ================= */

/** Carrousel >> Arrows do Carrousel - Quem Somos **/
#id-622 [type="button"] {
	margin-right: -20px !important;
	margin-left: -20px !important;
}

